/* styles.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 1.2rem; /* Augmente la taille globale des lettres */
    background-color: #313131;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #363636;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-logo img {
    max-height: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem; /* Augmente la taille des liens de navigation */
}

.hero {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
}

.hero-content h1 {
    font-size: 3rem; /* Augmente la taille des titres principaux */
    margin: 0;
    text-align: center;
}

.hero-content p {
    font-size: 1.5rem; /* Augmente la taille des sous-titres */
    text-align: center;
}

main {
    padding: 2rem;
    text-align: center;
}

h1, h2 {
    font-size: 2.5rem; /* Taille plus grande pour les titres */
    text-align: center;
}

p, li {
    font-size: 1.3rem; /* Taille plus grande pour les paragraphes et listes */
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: static;
    bottom: 0;
    width: 100%;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.centered-img {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
}
